import boto3
import os
{% if local_testing %}
{% if access_key %}
s3_kwargs = {
    'region_name': "{{ region }}",
    'aws_access_key_id': "{{ access_key }}",
    'aws_secret_access_key': "{{ secret_key }}",
}
{% if s3_endpoint %}
s3_kwargs['endpoint_url'] = "{{ s3_endpoint }}"
{% endif %}
s3 = boto3.client('s3', **s3_kwargs)
{% else %}
from botocore import UNSIGNED
from botocore.config import Config

s3 = boto3.client('s3',
    region_name="{{ region }}",
    config=Config(signature_version=UNSIGNED),
)
{% endif %}
bucket = "{{ bucket }}"
prefix = "{{ base_path | default('') }}"
{% else %}
service_url = "{{ service_base_url }}"
endpoint_url = service_url.rsplit('/', 1)[0]
bucket = service_url.rsplit('/', 1)[1]
prefix = ''

s3 = boto3.client('s3',
    endpoint_url=endpoint_url,
    aws_access_key_id=os.environ['UNITYSVC_API_KEY'],
    aws_secret_access_key='not-used',
)
{% endif %}

response = s3.list_objects_v2(Bucket=bucket, MaxKeys=5, Prefix=prefix)
for obj in response.get('Contents', []):
    key = obj['Key']
    if prefix and key.startswith(prefix):
        key = key[len(prefix):]
    print(f"{key}  ({obj['Size']} bytes)")
print("connectivity ok")
